<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/v-tooltip"></script>
    <script src="https://unpkg.com/v-copy"></script>
    
</head>
<body>
    <div id="app">
        <h1>Users total: {{ usersLen }}</h1>
        <button type="button" v-on:click="ToggleUsers" v-tooltip.right="'Toggle Users'" >{{ bShowUsers }}</button>
        <button type="button" v-on:click="ToggleUpper">{{ bUpper }}</button>
        <table v-show="isShowUsers">
            <thead>
                <tr>
                    <td v-on:click="sortTable('picture')">Picture <span v-html="getSortArrow('picture')"> </span></td>
                    <td v-on:click="sortTable('firstName')">Firstname <span v-html="getSortArrow('firstName')"> </span></td>
                    <td v-on:click="sortTable('lastName')">Lastname <span v-html="getSortArrow('lastName')"> </span></td>
                    <td class="blank"></td>
                    <td class="blank"></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in users" :key="item.uid">
                    <td> 
                        <img v-bind:src="'img/'+checkPicture(item.picture)"> 
                    </td>
                    <td> {{ item.firstName | upper(isUpperCase) }} </td>
                    <td> {{ item.lastName | upper(isUpperCase) }} </td>
                    <td class="blank"> 
                        <button type="button" v-copy="item.firstName+' '+item.lastName" v-copy:callback="handleCopied" class="blank" v-tooltip.right="'Copy to clipboard'">
                            <img class="icon" src="img/cp.png">
                        </button> 
                    </td>
                    <td class="blank">
                        <button type="button" v-on:click="deleteUser(index)" class="blank" v-tooltip.right="'Delete this'">
                            <img class="icon" src="img/del.png">
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <select type="text" v-model="newUser.picture" placeholder="Picture name">
                            <option v-for="i in 5" v-bind:value="i+'.png'">{{i}}<img v-bind:src="'img/'+i+'.png'"></option>
                        </select>
                    </td>
                    <td><input type="text" v-model="newUser.firstName" placeholder="Firstname"></td>
                    <td><input type="text" v-model="newUser.lastName" placeholder="Lastamename"></td>
                    <td class="blank">
                        <button type="button"  v-on:click="addUser" class="blank" v-tooltip.right="'Add user'">
                                <img class="icon" src="img/add.png">
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

<script>

    var app= new Vue({
        el:"#app",
        data:function(){
            return{
                isShowUsers: true,
                isUpperCase: false, //похоже появляется после срабатывания фильтров
                users: [
                    { uid: 0, firstName: "Haaris",  lastName: "Cottrell",   picture: "1.png"},
                    { uid: 1, firstName: "Bert",    lastName: "Valdez",     },
                    { uid: 2, firstName: "Izaak",   lastName: "Cole",       picture: "3.png"},
                    { uid: 3, firstName: "Loren",   lastName: "Knowles",    },
                    { uid: 4, firstName: "Jasper",  lastName: "Hills",      picture: "5.png"},
                ],
                newUser: {uid: '', firstName: '', lastName: '', picture: ''},
                sortField: '',
                sortAsc: false,
            }
        },
        computed: {
            usersLen: function(){
                return this.users.length
            },
            bShowUsers: function(){
                return this.isShowUsers ? "Hide" : "Show";
            },
            bUpper: function(){
                return this.isUpperCase ? "Normal" : "Uppercase";
            },
        },
        filters: {
            upper: function(value, uppercase){
                if (!value) return '';
                value = value.toString();
                if (uppercase) return value.toUpperCase(); else return value;
            }
        },
        methods: {
            ToggleUsers: function(){
                this.isShowUsers = !this.isShowUsers;
            },
            ToggleUpper: function(){
                this.isUpperCase = !this.isUpperCase;
            },
            handleCopied: function(text){
                alert("Copied: "+text);
            },
            sortTable: function(field){
                if (this.sortField==field) 
                this.sortAsc = !this.sortAsc;
                this.sortField = field;
                this.users.sort(
                    function(a,b){
                        na = a[field] ? a[field] : '';
                        nb = b[field] ? b[field] : '';
                        test = app.sortAsc ? (na<nb) : (na>nb)
                        return test ? 1 : -1;
                    }
                );
            },
            addUser: function(){
                //var date = new Date();
                this.newUser.uid=new Date().getTime();
                var newUser=Object.assign({},this.newUser)
                this.users.push(newUser);
            },
            deleteUser: function(uid){
                this.users.splice(uid,1);
            },
            getSortArrow: function(field){
                if (this.sortField==field)
                {
                    return this.sortAsc ? "&uarr;" : "&darr;";
                }
                else return '&nbsp;';
            },
            checkPicture: function(picture){
                return picture ? picture : "nopic.png";
            }
        }
    })
</script>

</html>